[submodule "IT.Ticket.Addapter.Interface"]
	path = CS/src/IT.Ticket.Addapter.Interface
	url = https://github.com/YouAnd-I/IT.Ticket.Addapter.Interface
[submodule "IT.Ticket.Addapter.Transport"]
	path = CS/src/IT.Ticket.Addapter.Transport
	url = https://github.com/YouAnd-I/IT.Ticket.Addapter.Transport
[submodule "IT.Ticket.Authoring.Binary"]
	path = CS/src/IT.Ticket.Authoring.Binary
	url = https://github.com/YouAnd-I/IT.Ticket.Authoring.Binary
[submodule "IT.Ticket.Authoring.Unity.ECS"]
	path = CS/src/IT.Ticket.Authoring.Unity.ECS
	url = https://github.com/YouAnd-I/IT.Ticket.Authoring.Unity.ECS
[submodule "IT.Ticket.Data"]
	path = CS/src/IT.Ticket.Data
	url = https://github.com/YouAnd-I/IT.Ticket.Data
[submodule "IT.Ticket.Data.Frent"]
	path = CS/src/IT.Ticket.Data.Frent
	url = https://github.com/YouAnd-I/IT.Ticket.Data.Frent
[submodule "IT.Ticket.Data.Unity-ECS"]
	path = CS/src/IT.Ticket.Data.Unity-ECS
	url = https://github.com/YouAnd-I/IT.Ticket.Data.Unity-ECS
[submodule "IT.Ticket.Impl"]
	path = CS/src/IT.Ticket.Impl
	url = https://github.com/YouAnd-I/IT.Ticket.Impl
[submodule "IT.Ticket.Service.DotNet"]
	path = CS/src/IT.Ticket.Service.DotNet
	url = https://github.com/YouAnd-I/IT.Ticket.Service.DotNet
[submodule "IT.Ticket.Settings.Frent"]
	path = CS/src/IT.Ticket.Settings.Frent
	url = https://github.com/YouAnd-I/IT.Ticket.Settings.Frent
[submodule "IT.Ticket.Settings.Unity.ECS"]
	path = CS/src/IT.Ticket.Settings.Unity.ECS
	url = https://github.com/YouAnd-I/IT.Ticket.Settings.Unity.ECS
[submodule "Diagram.IT.Ticket"]
	path = Diagram.IT.Ticket
	url = https://github.com/YouAnd-I/Diagram.IT.Ticket
