[submodule "IT.Ticket.Addapter.Interface"]
	path = CS/IT.Ticket.Addapter.Interface
	url = https://github.com/YouAnd-I/IT.Ticket.Addapter.Interface
[submodule "IT.Ticket.Addapter.Transport"]
	path = CS/IT.Ticket.Addapter.Transport
	url = https://github.com/YouAnd-I/IT.Ticket.Addapter.Transport
[submodule "IT.Ticket.Authoring.Binary"]
	path = CS/IT.Ticket.Authoring.Binary
	url = https://github.com/YouAnd-I/IT.Ticket.Authoring.Binary
[submodule "IT.Ticket.Authoring.Unity.ECS"]
	path = CS/IT.Ticket.Authoring.Unity.ECS
	url = https://github.com/YouAnd-I/IT.Ticket.Authoring.Unity.ECS
[submodule "IT.Ticket.Data"]
	path = CS/IT.Ticket.Data
	url = https://github.com/YouAnd-I/IT.Ticket.Data
[submodule "IT.Ticket.Data.Frent"]
	path = CS/IT.Ticket.Data.Frent
	url = https://github.com/YouAnd-I/IT.Ticket.Data.Frent
[submodule "IT.Ticket.Data.Unity-ECS"]
	path = CS/IT.Ticket.Data.Unity-ECS
	url = https://github.com/YouAnd-I/IT.Ticket.Data.Unity-ECS
[submodule "IT.Ticket.Impl"]
	path = CS/IT.Ticket.Impl
	url = https://github.com/YouAnd-I/IT.Ticket.Impl
[submodule "IT.Ticket.Service.DotNet"]
	path = CS/IT.Ticket.Service.DotNet
	url = https://github.com/YouAnd-I/IT.Ticket.Service.DotNet
[submodule "IT.Ticket.Settings.Frent"]
	path = CS/IT.Ticket.Settings.Frent
	url = https://github.com/YouAnd-I/IT.Ticket.Settings.Frent
[submodule "IT.Ticket.Settings.Unity.ECS"]
	path = CS/IT.Ticket.Settings.Unity.ECS
	url = https://github.com/YouAnd-I/IT.Ticket.Settings.Unity.ECS
[submodule "Diagram.IT.Ticket"]
	path = Diagram.IT.Ticket
	url = https://github.com/YouAnd-I/Diagram.IT.Ticket
[submodule "Discord.ID.Data"]
	path = CS/Discord.ID.Data
	url = https://github.com/YouAnd-I/Discord.ID.Data
[submodule "Status.Data"]
	path = CS/Status.Data
	url = https://github.com/YouAnd-I/Status.Data
[submodule "CS/Ping.System.Frent"]
	path = CS/Ping.System.Frent
	url = https://github.com/YouAnd-I/Ping.System.Frent
[submodule "CS/Device.Data"]
	path = CS/Device.Data
	url = https://github.com/YouAnd-I/Device.Data
[submodule "CS/User.Data"]
	path = CS/User.Data
	url = https://github.com/YouAnd-I/User.Data
[submodule "CS/DeviceUserBinding.Data"]
	path = CS/DeviceUserBinding.Data
	url = https://github.com/YouAnd-I/DeviceUserBinding.Data
[submodule "CS/Session.Data"]
	path = CS/Session.Data
	url = https://github.com/YouAnd-I/Session.Data
[submodule "CS/Provider.Data"]
	path = CS/Provider.Data
	url = https://github.com/YouAnd-I/Provider.Data
[submodule "CS/Ping.Data"]
	path = CS/Ping.Data
	url = https://github.com/YouAnd-I/Ping.Data
[submodule "CS/Ping.Adapter.NetCord"]
	path = CS/Ping.Adapter.NetCord
	url = https://github.com/YouAnd-I/Ping.Adapter.NetCord
[submodule "CS/Greet.Data"]
	path = CS/Greet.Data
	url = https://github.com/YouAnd-I/Greet.Data
[submodule "CS/Greet.System.Frent"]
	path = CS/Greet.System.Frent
	url = https://github.com/YouAnd-I/Greet.System.Frent
[submodule "CS/Greet.Adapter.NetCord"]
	path = CS/Greet.Adapter.NetCord
	url = https://github.com/YouAnd-I/Greet.Adapter.NetCord
[submodule "CS/Ecs.Client"]
	path = CS/Ecs.Client
	url = https://github.com/YouAnd-I/Ecs.Client
[submodule "CS/Ecs.Loop.Frent"]
	path = CS/Ecs.Loop.Frent
	url = https://github.com/YouAnd-I/Ecs.Loop.Frent
